/*
 css stands for cascading styling sheet used to make webpages beautiful
  css style for the main page which is homepage of the website
  index.html is homepage of the website.
*/

/* the style below are to work for the entire body of the page*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #666;
    font-size: 17px;

}

/* the styles below are for the navbar section */
/* css style for hover effect for the links  */
.offcanvas-body a:hover {
    color: #00A874;
}

/* style below are for the links in the navbar */
.offcanvas-body {
    font-size: 17px;
    font-weight: 549;
    color: #333;
}

/* style to change the school logo */
.navbar-brand {
    color: #00A874;
    font-weight: 700;
    font-size: 25px;
}

.navbar-brand:hover {
    color: #049164;
}
/* the style below is for the line under the navbar */
hr {
    margin: 0;
    opacity: 0.1;
}

/* style to center the text on the hero image */
#centerThetext {
    bottom: 30%;

}

/* style for the contact us page */
/* the style below are to work for the entire body of the page*/


/* the styles below are for the navbar section */
/* css style for hover effect for the links  */
.offcanvas-body a:hover {
    color: #00A874;
}

/* style below are for the links in the navbar */
.offcanvas-body {
    font-size: 17px;
    font-weight: 549;
    color: #333;
}

/* style to change the school logo */
.navbar-brand {
    color: #00A874;
    font-weight: 700;
    font-size: 25px;
}

.navbar-brand:hover {
    color: #049164;
}

/* the style below is for the line under the navbar */
hr {
    margin: 0;
    opacity: 0.1;
}

/* style to center the text on the hero image */
#centerThetext {
    bottom: 30%;

}

/* style for the hver effect */
#hover-effect:hover {
    color: #00A874;

}

/* style for the new_event page */
/* the style below are to work for the entire body of the page*


/* the styles below are for the navbar section */
/* css style for hover effect for the links  */
.offcanvas-body a:hover {
    color: #00A874;
}

/* style below are for the links in the navbar */
.offcanvas-body {
    font-size: 17px;
    font-weight: 549;
    color: #333;
}

/* style to change the school logo */
.navbar-brand {
    color: #00A874;
    font-weight: 700;
    font-size: 25px;
}

.navbar-brand:hover {
    color: #049164;
}

/* the style below is for the line under the navbar */
hr {
    margin: 0;
    opacity: 0.1;
}

/* the style below is for space */
#spaces {
    margin-top: 56px;
    margin-bottom: 50px;
}

#spaces2 {
    margin-top: 20px;
    margin-bottom: 80px;
}

.heading {
    color: #049164;
}

.heading2 {
    color: #00633E;
}

/* style to center the text on the hero image */
#centerThetext {
    bottom: 30%;

}